# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias vi="vim"

# List all files colorized in long format, including dot files
alias la="ls -Gla"
alias ls='ls -G'

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Start an HTTP server from a directory
alias server="open http://localhost:8080/ && python -m SimpleHTTPServer 8080"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias p="cd ~/Projects"
alias g="git"
alias v="vim"
alias m="mate ."

# File size
alias fs="stat -f \"%z bytes\""

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do alias "$method"="lwp-request -m '$method'"; done

# Bash Directory Bookmarks
alias m1='alias g1="cd `pwd`"'
alias m2='alias g2="cd `pwd`"'
alias m3='alias g3="cd `pwd`"'
alias m4='alias g4="cd `pwd`"'
alias m5='alias g5="cd `pwd`"'
alias m6='alias g6="cd `pwd`"'
alias m7='alias g7="cd `pwd`"'
alias m8='alias g8="cd `pwd`"'
alias m9='alias g9="cd `pwd`"'
alias mdump='alias|grep -e "alias g[0-9]"|grep -v "alias m" > ~/.bookmarks'
alias lma='alias | grep -e "alias g[0-9]"|grep -v "alias m"|sed "s/alias //"'
touch ~/.bookmarks
source ~/.bookmarks

# Sort by time descending
alias lt="ls -lat"

alias sds="(cd /Users/neil/Projects/edmodo/cloud/ && ./start-dev-servers.sh)"

alias delstratus="sudo rm -rf /Applications/Stratus\ Data\ Connector.app/ /Library/Application\ Support/Stratus/ ~/Library/Caches/OpenJNLP"

# git shortcuts
alias gba='git branch -a'

# grep
alias gr='grep --color=auto -nr'

# stratus
alias slog1="ssh prod-auth-http-1 \"tail -F /var/log/stratus-auth_cloud/auth.log | grep --line-buffered 'got response' | awk '{ print \\\$13, \\\$12, \\\$15; fflush() }'\""
alias slog2="ssh prod-auth-http-2 \"tail -F /var/log/stratus-auth_cloud/auth.log | grep --line-buffered 'got response' | awk '{ print \\\$13, \\\$12, \\\$15; fflush() }'\""
alias slog3="ssh prod-auth-http-3 \"tail -F /var/log/stratus-auth_cloud/auth.log | grep --line-buffered 'got response' | awk '{ print \\\$13, \\\$12, \\\$15; fflush() }'\""

alias h2="(cd ~/Projects/edmodo/stratus-admin/lib/public/jars && java -jar h2.jar)"

alias sha256='shasum -a 256' # "sha256 myfile"

alias server='python -m SimpleHTTPServer'
